@font-face{
	font-family: Open-sans;
	src: url(fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face{
	font-family: Open-bold;
	src: url(fonts/Open_Sans/OpenSans-Bold.ttf);
}
html{
	margin: 0;
	padding: 0;
	height: 100%;
}
body{
	margin: 0%;
	background-color: #efefef;
}
header{
	position: fixed;
	width: 100%;
	float: left;
	background-color: #f7882f;
	box-shadow: 0px 8px 16px -3px rgba(0,0,0,0.2);
	z-index: 5;
	top: 0;
}
header img{
	width: 17%;
	padding: 1% 1% 0% 2%;
}
nav{
	background-color: #f7882f;
	list-style: none;
	margin: 0%;
	padding: 0%;
	font-family: Open-sans;
	font-weight: 500;
	float: right;
}
#nav{
	padding: 0%;
	margin: 0%;
}
#nav > li{
	display: inline-block;
}
#nav > li > a{
	padding: 16px;
	text-decoration: none;
	display: inline-block;
	color: white;
}
.with-dropdown > a:after{
	content: "▼";
	font-size: 11px;
	padding: 5px;
}
.side-drop > a:after{
	content: "»";
	font-size: 20px;
	padding: 5px;
}
#nav > li.with-dropdown > ul{
	display: none;
	background-color: #dcc7aa;
	z-index: 2;
	position: absolute;
	padding: 0px;
	min-width: 160px;
	box-shadow: 0px 8px 16px -3px rgba(0,0,0,0.2);
}
#nav > li.with-dropdown > ul > li{
	display: block;
	text-align: left;
	position: relative;
}
#nav > li.with-dropdown > ul > li:not(:last-child){
	border-bottom: 1px solid #E9DCCA;
}
#nav > li.with-dropdown > ul > li > a{
	display: block;
	color: #6b7a8f;
	text-decoration: none;
	padding: 10px;
	font-size: 14px;
}
ul > li.side-drop > ul.submenu{
	display: none;
	position: absolute;
	z-index: 1;
	min-width: 160px;
	padding: 0px;
	box-shadow: 8px 8px 16px -3px rgba(0,0,0,0.2);
	left: 100%;
	top: 0;
	background-color: #E9DCCA;
}
ul > li.side-drop > ul.submenu > li{
	display: block;
	text-align: left;
}
ul > li.side-drop > ul.submenu > li:not(:last-child){
	border-bottom: 1px solid #F2EADF;
}
ul > li.side-drop > ul.submenu > li > a{
	display: block;
	color: #6b7a8f;
	text-decoration: none;
	padding: 14px;
	font-size: 14px;
}

/* HOVERS */
#nav > li:hover > a{
	background-color: #dcc7aa;
	color: #6b7a8f;
	font-weight: 500;
	transition: 0.4s;
}
#nav > li > ul > li > a:hover{
	background-color: #efefef;
	color: #6b7a8f;
	transition: 0.4s;
}
#nav li:hover ul.menu{
	display: block;
}
#nav li.side-drop:hover ul{
	display: block;
}
#nav li.side-drop > ul > li:hover > a{
	background-color: #efefef;
	color: #6b7a8f;
	transition: 0.4s;
}
#nav > li > ul > li:hover{
	background-color: #efefef;
	color: #6b7a8f;
	transition: 0.4s;
}

/*---*/
#background{
	padding-top: 3%;
	float: left;
	width: 100%;
}
#background img{
	width: 72%;
	display: block;
	margin-left: auto;
	margin-right: auto;   
}
footer{
	float: left;
	bottom: 0;
	background-color: #3d3d3d;
	color: white;
	text-align: right;
	font-family: Open-sans;
	font-size: 0.8vw;
	line-height: 60%;
	border-top: 5px solid #f7882f;
	margin-top: 1%;
	width: 100%;
	position: aboslute;
	margin-bottom: 0;
	padding-bottom: 0;
}
footer p{
	padding-right: 2%;
}
footer p:first-child{
	font-size: 1.1vw;
}
.content-footer{
	margin-top: 5%;
}


/*#background img {
		-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}*/
aside h2{
	clear: both;
	padding-top: 8%;
	font-family: Open-sans;
}
aside h2 span{
	background-color: #6b7a8f;
	color: #efefef;
	padding: 1% 5% 1% 8%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#xhtml{
	float: left;
	background-color: #53db55;
	padding: 2%;
	width: 40%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#html{
	float: right;
	background-color: #328cc1;
	padding: 2%;
	width: 40%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
section:not(#background){
	font-family: Open-sans;
	float: left;
	width: 80%;
	padding: 2% 10% 0 10%;
	margin: 0;
}
/* fonts */
section h3{
	color: #f7882f;
	font-size: 1.7vw;
}
section a, section a:visited{
	text-decoration: underline;
	color: #328cc1;
}
section h4{
	text-align: center;
	font-size: 1.7vw;
}
section span{
	padding-left: 16%;
	line-height: 1;
}
section h5{
	text-align: center;
	font-size: 1.5vw;
	clear: both;
	padding-top: 5%;
}
p:not(footer > p) {
    font-size: 1.2vw;
    text-align: justify;
}
section > p {
    padding: 0;
    text-align: justify;
}
strong.highlight-text {
    font-size: 1.2vw;
    color: #328cc1;
}
.text-note {
    font-style: italic;
    font-size: 1vw;
}
.sub-topic {
    padding-left: 5%;
    margin-bottom: 5%;
}
.sub-topic h4 {
    text-align: left;
    font-size: 1.3vw;
}
.p-center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-top: -5%;
	font-size: 1.5vw;
	font-family: Open-Sans;
}
.p-center a {
	color: #328cc1;
	text-decoration: underline;
}
/* images */
.right-fig{
	float: right;
	background-color: #6b7a8f;
	padding: 2% 25% 2% 2%;
	margin: 0 -12.5% 0 5%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	width: 15%;
}
.right-fig figcaption{
	color: #efefef;
	text-align: left;
    padding: 5%;
}
figcaption.black-figcap {
    color: #000000;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1vw;
    font-style: italic;
}
.left-img img {
	float: left;
	padding-right: 5%;
	margin: 0;
}
.right-img img{
	float: right;
	padding-left: 5%;
}
.center-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* list */
section ul{
	list-style: square;
}
section ul li ul{
	list-style: circle;
}
section ul li, section ol li{
	line-height: 2;
}
.main-list li {
    font-weight: 700;
    line-height: 25px;
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 1.3vw;
    list-style-type: upper-roman;
}
.main-list li p {
	font-weight: 500;
	font-size: 1.2vw;
	padding: 0;
}
.sub-list li p {
	font-weight: 500;
	font-size: 1.2vw;
	padding: 0;
}
ul.main-list > li:first-child {
    margin-top: 2%;
}
ul.main-list li + p {
    margin-top: 1%;
    margin-bottom: 3%
}   
ol.main-list li{
    list-style-type: decimal;
}
.sub-list {
    margin-bottom: 3%;
}
.list-sample li {
	margin-bottom: 2%;
}
ol.sub-list li {
    margin: 1% 0 0 0;
    font-weight: 500;
    list-style-type: decimal;
}
ul.sub-list li {
    margin: 3% 0 0 0;
    font-weight: 600;
    list-style-type: disc;
}
ul.sub-list li pre{
    font-weight: 500;
}
ul.main-list li pre{
    font-weight: 500;
}
.sub-list-sample li {
    margin: 1%;
    list-style-type: circle;
    font-weight: 500;
}
.sub-sublist li{
    margin-top: 5%;
    list-style-type: circle;
}
/* mark */
.mark-highlight{
    background: #e1e1e1;
    font-family: Consolas;
    font-size: 1.2vw;
}
mark {
	font-weight: 500;
}
.protocol{
	color: red;
	background: none;
	font-weight: 600;
}
.domain-name{
	color: blue;
	background: none;
	font-weight: 600;
}
.resource-name{
	color: green;
	background: none;
	font-weight: 600;
}
.sub-list-sample mark {
    font-size: 1.2vw;
    background: #e1e1e1;
    font-family: Consolas;
}
/* preformatted text */
pre{
    background: #e1e1e1;
    padding: 2% 2%;
    margin: 0% auto 2% auto;
    width: 90%;
    display: block;
    border: 0.1px solid #d3d3d3;
    font-size: 1vw;
}
.pre-dif {
    margin: 0;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
pre.invalid{
	background: #e1e1e1;
	padding: 2%;
	margin: 0% auto 2% auto;
	width: 90%;
	display: block;
	border: 0.1px solid #d3d3d3;
	font-size: 1vw;
	border-left: 6px solid #ff8280;
}
pre.valid{
	background: #e1e1e1;
	padding: 2% 2%;
	margin: 0% auto 3% auto;
	width: 90%;
	display: block;
	border: 0.1px solid #d3d3d3;
	font-size: 1vw;
	border-left: 6px solid #6bce6d;
}
ul ~ pre {
	margin-top: 2%;
}
/* table */
table {
    border-collapse: collapse;
    width: 80%;
}
.sub-list table {
    margin-top: 2%;
    margin-left: 3%;
    display: block;
}
table td {
    background: #e1e1e1;
    border: 1px solid #d3d3d3;
    padding: 0 2% 0 2%;
}
table tr td:first-child {
    width: 15%;
}
td{
    font-size: 1vw;
}
td > pre {
    border: 0;
    padding: 2%;
    margin: 0;
}
td mark {
    margin: 3%;
    background: #BFBFFF;
    display: inline;
    font-family: Consolas;
    font-size: 1vw;
}
.stat-codes{
	border: 2px solid black;
	padding: 1%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.stat-codes tr, .stat-codes td{
    border: 2px solid black;
    padding: 1%;
    background-color: burlywood;
    font-size: 95%;
}
.stat-codes tr td:first-child{
	background-color: skyblue;
}
.stat-codes tr td:nth-child(2){
	background-color: limegreen;
}
.stat-codes tr td:nth-child(3){
	background-color: yellow;
}
.stat-codes tr td:nth-child(4){
	background-color: orange;
}
.stat-codes tr td:last-child{
	background-color: firebrick;
}