@font-face{
	font-family: Open-sans;
	src: url(fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face{
	font-family: Open-bold;
	src: url(fonts/Open_Sans/OpenSans-Bold.ttf);
}
html{
	margin: 0;
	padding: 0;
	height: 100%;
}
body{
	margin: 0%;
	background-color: #efefef;
}
header{
	position: fixed;
	width: 100%;
	float: left;
	background-color: #f7882f;
	box-shadow: 0px 8px 16px -3px rgba(0,0,0,0.2);
	z-index: 5;
	top: 0;
}
header img{
	width: 17%;
	padding: 1% 1% 0% 2%;
}
nav{
	background-color: #f7882f;
	list-style: none;
	margin: 0%;
	padding: 0%;
	font-family: Open-sans;
	font-weight: 500;
	float: right;
}
#nav{
	padding: 0%;
	margin: 0%;
}
#nav > li{
	display: inline-block;
}
#nav > li > a{
	padding: 16px;
	text-decoration: none;
	display: inline-block;
	color: white;
}
.with-dropdown > a:after{
	content: "▼";
	font-size: 11px;
	padding: 5px;
}
.side-drop > a:after{
	content: "»";
	font-size: 20px;
	padding: 5px;
}
#nav > li.with-dropdown > ul{
	display: none;
	background-color: #dcc7aa;
	z-index: 2;
	position: absolute;
	padding: 0px;
	min-width: 160px;
	box-shadow: 0px 8px 16px -3px rgba(0,0,0,0.2);
}
#nav > li.with-dropdown > ul > li{
	display: block;
	text-align: left;
	position: relative;
}
#nav > li.with-dropdown > ul > li > a{
	display: block;
	color: #6b7a8f;
	text-decoration: none;
	padding: 13px;
	font-size: 14px;
}
ul > li.side-drop > ul.submenu{
	display: none;
	position: absolute;
	z-index: 1;
	min-width: 160px;
	padding: 0px;
	box-shadow: 8px 8px 16px -3px rgba(0,0,0,0.2);
	left: 100%;
	top: 0;
	background-color: #dcc7aa;
}
ul > li.side-drop > ul.submenu > li{
	display: block;
	text-align: left;
}
ul > li.side-drop > ul.submenu > li > a{
	display: block;
	color: #6b7a8f;
	text-decoration: none;
	padding: 17px;
	font-size: 14px;
}

/* HOVERS */
#nav > li:hover > a{
	background-color: #dcc7aa;
	color: #6b7a8f;
	font-weight: 500;
	transition: 0.4s;
}
#nav > li > ul > li > a:hover{
	background-color: #efefef;
	color: #6b7a8f;
	transition: 0.4s;
}
#nav li:hover ul.menu{
	display: block;
}
#nav li.side-drop:hover ul{
	display: block;
}
#nav li.side-drop > ul > li:hover > a{
	background-color: #efefef;
	color: #6b7a8f;
	transition: 0.4s;
}
#nav > li > ul > li:hover{
	background-color: #efefef;
	color: #6b7a8f;
}

/*---*/
#background{
	padding-top: 3%;
	float: left;
	width: 100%;
}
#background img{
	width: 72%;
	display: block;
	margin-left: auto;
	margin-right: auto;   
}
footer{
	float: left;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #3d3d3d;
	color: white;
	text-align: right;
	font-family: Open-sans;
	font-size: 0.8vw;
	line-height: 60%;
	border-top: 5px solid #f7882f;
	margin-top: 1%;
	width: 100%;
}
footer p{
	padding-right: 2%;
}
footer p:first-child{
	font-size: 1.1vw;
}
.content-footer{
	margin-top: 5%;
}


/*#background img {
		-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}*/
aside h2{
	clear: both;
	padding-top: 8%;
	font-family: Open-sans;
}
aside h2 span{
	background-color: #6b7a8f;
	color: #efefef;
	padding: 1% 5% 1% 8%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
section{
	font-family: Open-sans;
	float: left;
	width: 100%;
}
section h3{
	padding: 2% 0% 0% 10%;
	color: #f7882f;
	font-size: 1.7vw;
}
section ul{
	padding-left: 15%;
	list-style: square;
	margin-right: 5%;
}
section ul li ul{
	padding-left: 5%;
	list-style: circle;
	margin-right: 5%;
}
section ul li{
	line-height: 2;
}
section a, section a:visited{
	text-decoration: underline;
	color: #328cc1;
}
#sir-tim ul{
	float: left;
	width: 50%;
}
#sir-tim figure{
	float: right;
	background-color: #6b7a8f;
	padding: 2% 13% 0.5% 2%;
	margin: -23% 0;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#sir-tim figure figcaption{
	color: #efefef;
	text-align: center;
}
section h4{
	text-align: center;
	font-size: 1.7vw;
}
section h5{
	text-align: center;
	font-size: 1.3vw;
}
section span{
	padding-left: 16%;
	line-height: 1;
}
.protocol{
	color: red;
	background: none;
}
.domain-name{
	color: blue;
	background: none;
}
.resource-name{
	color: green;
	background: none;
}